version: '3'
services:
  feedback_by_page:
    image: "tbsacr.azurecr.io/feedback-by-page:1.0.0"
    build:
      context: .
      dockerfile: docker/feedback-by-page/Dockerfile
    working_dir: /app
    ports:
      - 5000:5000
