<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Feedback on pages: trends and analysis</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <!-- Meta data -->
      <meta name="description" content="Feedback on pages: trends and analysis">
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
      <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js"></script>
      <noscript>
         <!-- Write closure fall-back static file -->
         <!-- /ROOT/app/cls/WET/gcweb/v4_0_30/cdts/static/refTop.html -->
         <!--[if gte IE 9 | !IE ]><!-->
         <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/favicon.ico" rel="icon" type="image/x-icon">
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/theme.min.css">
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsfixes.css">
         <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
         <!-- Are you using the application templates? If so add the following CSS file -->
         <!-- <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsapps.css">-->
         <!--<![endif]-->
         <!--[if lt IE 9]>
         <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/favicon.ico" rel="shortcut icon" />
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/ie8-theme.min.css" />
         <![endif]-->
         <!--[if lte IE 9]><![endif]-->
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/noscript.min.css" />
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsnoscript.css" />
      </noscript>
      <script>
         document.write(wet.builder.refTop({

         	"isApplication": true
         }));
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <style>
         .beta-top, .alpha-top {
         padding-top: 2px !important;
         padding-bottom: 2px !important;
         top: 0px;
         background-color: #f2f2f2;
         z-index: 100;
         }
      </style>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage">
      <section class="experimental alpha-top">
         <h2 class="wb-inv">Alpha</h2>
         <div class="container">
            <small><label class="alpha-label">Alpha</label>&nbsp;&nbsp;
            This is an experimental version of Canada.ca for public testing.</small>
         </div>
      </section>
      <div id="def-top">
         <!-- Write closure fall-back static file -->
         <!-- /ROOT/app/cls/WET/gcweb/v4_0_30/cdts/static/appTop-en.html -->
         <ul id="wb-tphp">
            <li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
            <li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to "About this Web application"</a></li>
            <!-- If you have a custom footer, replace the previous line with this one
               <li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to "Related links"</a></li>
               -->
            <!-- If you have a section menu
               <li class="wb-slc visible-md visible-lg"><a class="wb-sl" href="#wb-sec">Skip to section menu</a></li>
               -->
         </ul>
         <header class="gc-app">
            <div id="wb-bnr" class="container">
               <!-- Adjust the default language flip URL or remove this <section>
                  <section id="wb-lng" class="text-right">
                  	<h2 class="wb-inv">Language selection</h2>
                  	<ul class="list-inline margin-bottom-none">
                  		<li><a lang="fr" href="[Default URL for language flip]">Français</a></li>
                  	</ul>
                  </section>
                  	-->
               <div class="row">
                  <div class="brand col-xs-5 col-md-4">
                     <a href="https://www.canada.ca/en.html">
                     <img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/sig-blk-en.svg" alt="" />
                     <span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span>
                     </a>
                  </div>
                  <!-- Adjust this search section depending on your application search
                     <section id="wb-srch" class="col-lg-8 text-right visible-md visible-lg">
                     	<h2>Search</h2>
                     	<form action="#" method="post" name="cse-search-box" role="search" class="form-inline">
                     		<div class="form-group">
                     			<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
                     			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search">
                     		</div>
                     		<div class="form-group submit">
                     			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                     		</div>
                     	</form>
                     </section>
                     -->
               </div>
            </div>
            <div class="app-bar">
               <div class="container">
                  <div class="row">
                     <!-- If you want to use the settings or sign in/out buttons then add col-sm-7 -->
                     <section class="col-xs-12">
                        <!-- Add in your application name and URL below -->
                        <h2 class="wb-inv">Feedback on pages: trends and analysis</h2>
                        <a class="app-name" href="#">Feedback on pages: trends and analysis</a>
                     </section>
                     <!-- If you want to use the settings or sign in/out buttons
                        <nav class="col-sm-5 hidden-xs hidden-print">
                        	<h2 class="wb-inv">Account menu</h2>
                        	<ul class="app-list-account list-unstyled">
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Account settings</a></li>&#32;
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign out</a></li>
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign in</a></li>
                        	</ul>
                        </nav>
                        -->
                  </div>
               </div>
            </div>
            <!-- Remove the whole <nav> if you want to disable breadcrumbs
               <nav id="wb-bc" property="breadcrumb">
               	<h2>You are here:</h2>
               	<div class="container">
               		<div class="row">
               			<ol class="breadcrumb">
               				<li><a href="#">[Insert breadcrumbs]</a></li>
               			</ol>
               		</div>
               	</div>
               </nav>
               -->
         </header>
      </div>
      <!-- Write closure template -->
      <script>
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.appTop({

         	"appName": [{"text": "Feedback on pages: trends and analysis", "href": "https://feedback-by-page.tbs.alpha.canada.ca/"}],
         	"lngLinks": [{"lang": "fr",	"href": "#", "text": "Français"}]
         });
      </script>
      <main property="mainContentOfPage" class="container">
         <h1>Feedback data for group of pages: "{{ group_name}}"</h1>
         <p>Change the date range:</p>
         <form id="attributes" name="attributes" action="{{ url_for('bypage') }}" method="post">
            <input type="hidden" name="group" value={{ group }}>
            <input type="hidden" name="lang" value={{ lang }}>
            <label for="start_date">Start date:</label>
            <input type="date" id="start_date" name="start_date" value={{ start_date }}><br>
            <label for="end_date">End date:</label>
            <input type="date" id="end_date" name="end_date" value={{ end_date }}><br>
            <input class="btn btn-primary" name=submit type="submit" value="Continue">
         </form>
         <script>
            const form = window.document.getElementById("attributes");
            form.addEventListener('submit', submitRedirect);

            function submitRedirect(event) {
                event.preventDefault();
                var formData = new FormData(form);
                var queryString = "?";
                for (var key of formData.keys()) {
                    queryString = queryString + key + "=" + formData.get(key) + "&";
                }
                location.href = 'bygroup' + queryString;
            }
            let langElem = document.getElementById("wb-lng").getElementsByTagName("a")[0];
            let toggleURL = window.location + "";
            if (document.documentElement.lang === 'en') {
                toggleURL = toggleURL.replace("&lang=en", "");
                toggleURL += "&lang=fr";
            } else {
                toggleURL = toggleURL.replace("&lang=fr", "");
                toggleURL += "&lang=en";
            }
            langElem.setAttribute("href", toggleURL);
         </script>
         <div id='content'>
            <h2 class='h3'>On this page</h2>
            <ul>
               <li><a href="#found">Found their answer?</a></li>
               <li><a href="#tag">By tag</a></li>
               <li><a href="#pages">Pages in this group</a></li>
            </ul>
            <h2 id="found">Said they found their answer?</h2>

            <!--<p>Data about the percentage of people who found their answer is not available at this time.</p>-->
            <details>
               <summary>How to interpret this data</summary>
               <p>This data is <strong>not the equivalent of a task success rate</strong> or an accurate measure of the performance of the page. </p>

               <p>Look for trends: a ratio of yes vs no going up or down may be meaningful and indicate that something needs to be looked into.</p>

               <p>The number itself is not very meaningful because:</p>
               <ul>
                  <li>only a small percentage of visitors will use the widget</li>
                  <li>people who can't find their answer are more likely to use the widget (skewing the numbers towards no's)</li>
                  <li>navigation pages, where people are just transiting to an answer page, are less likely to have a "yes" answer - averages on navigation pages will generaly be lower than on answer pages</li>
               </ul>
            </details>
            <div class="row">
               <div class="col-md-6">
                  <h3>For the selected date range</h3>
                  <p>From {{ start_date }} to {{ end_date }}: </p>
                  <ul>
                     <li>Yes: <strong>{{ yes_period }}</strong></li>
                     <li>No: <strong>{{ no_period }}</strong></li>
                     <li>Ratio: <strong>{{ score_period }}</strong> ({{ delta }} compared to last 90 days)</li>
                  </ul>
               </div>
               <div class="col-md-6">
                  <h3>For the last 90 days</h3>
                  <p>From {{ all_start }} to {{ all_end }}:</p>
                  <ul>
                     <li>Yes: <strong>{{ yes }}</strong></li>
                     <li>No: <strong>{{ no }}</strong></li>
                     <li>Ratio: <strong>{{ score }}</strong></li>
                  </ul>
               </div>
            </div>
            <img src="data:image/png;base64,{{ plot_url }}" alt="See table below for numbers">
            <details>
               <summary>Table: Percentage of people of who said they found their answer</summary>
               <table class="wb-tables table table-striped">
                  <tr>
                     {% for col in chart_columns %}
                     <th>{{col}}</th>
                     {% endfor %}
                  </tr>
                  {% for row in zip(dates_r, chart_yes, chart_no, daily_perc_r, weekly_perc_r) %}
                  <tr>
                     {% for col, row_ in zip(chart_columns, row) %}
                     <td>
                        {{row_}}
                     </td>
                     {% endfor %}
                  </tr>
                  {% endfor %}
               </table>
            </details>

            <h2 id="tag">By tag</h2>
            <p>From {{ start_date }} to {{ end_date }}: </p>
            <ul class="list-unstyled">
               {% for tag, count, plot, unique_tag in over_tags %}
               <li>
                  <details>
                     <summary>{{tag}} ({{count}})</summary>
                     <details>
                        <summary>View tag trend as a chart</summary>
                        <img src="data:image/png;base64,{{plot}}" alt="See table below for numbers">
                     </details>
                     <table class="wb-tables table table-striped">
                        <tr>
                           {% for col in tag_columns %}
                           <th>{{col}}</th>
                           {% endfor %}
                        </tr>
                        {%for row in zip(list(over_dict[unique_tag]['Date']), list(over_dict[unique_tag]['Comment']), list(over_dict[unique_tag]['URL_function'])) %}
                        <tr>
                           {% for col, row_ in zip(tag_columns, row) %}
                           <td>
                              {{row_}}
                           </td>
                           {% endfor %}
                        </tr>
                        {% endfor %}
                     </table>
                  </details>
               </li>
               {% endfor %}
            </ul>
            <h3>Other tags</h3>
            <details>
               <summary>Tags with 3 comments or less</summary>
               <ul class="list-unstyled">
                  {% for tag, count, plot, unique_tag in under_tags %}
                  <li>
                     <details>
                        <summary>{{tag}} ({{count}})</summary>
                        <details>
                           <summary>View tag trend as a chart</summary>
                           <img src="data:image/png;base64,{{plot}}" alt="See table below for numbers">
                        </details>
                        <table class="wb-tables table table-striped">
                           <tr>
                              {% for col in tag_columns %}
                              <th>{{col}}</th>
                              {% endfor %}
                           </tr>
                           {%for row in zip(list(under_dict[unique_tag]['Date']), list(under_dict[unique_tag]['Comment']), list(under_dict[unique_tag]['URL_function'])) %}
                           <tr>
                              {% for col, row_ in zip(tag_columns, row) %}
                              <td>
                                 {{row_}}
                              </td>
                              {% endfor %}
                           </tr>
                           {% endfor %}
                        </table>
                     </details>
                  </li>
                  {% endfor %}
               </ul>
            </details>
            <details>
               <summary>Automatically assigned unconfirmed tags</summary>
               <ul class="list-unstyled">
                  {% for tag, count, plot, unique_tag in unconfirmed_tags %}
                  <li>
                     <details>
                        <summary>{{tag}} ({{count}})</summary>
                        <details>
                           <summary>View tag trend as a chart</summary>
                           <img src="data:image/png;base64,{{plot}}" alt="See table below for numbers">
                        </details>
                        <table class="wb-tables table table-striped">
                           <tr>
                              {% for col in tag_columns %}
                              <th>{{col}}</th>
                              {% endfor %}
                           </tr>
                           {%for row in zip(list(unconfirmed_dict[unique_tag]['Date']), list(unconfirmed_dict[unique_tag]['Comment']), list(unconfirmed_dict[unique_tag]['URL_function'])) %}
                           <tr>
                              {% for col, row_ in zip(tag_columns, row) %}
                              <td>
                                 {{row_}}
                              </td>
                              {% endfor %}
                           </tr>
                           {% endfor %}
                        </table>
                     </details>
                  </li>
                  {% endfor %}
               </ul>
            </details>
            <h2 id="pages">Pages in the "{{ group_name}}" group</h2>
            <table class="wb-tables table table-striped table-hover" data-page-length='20'>
               <thead>
                  <tr>
                     <th>Page</th>
                     <th>URL</th>
                  </tr>
               </thead>
               <tbody>
                  {% for _, row in urls.iterrows() %}
                  <tr>
                     <td><a href="/bypage?page={{ row['URL_function'] }}">{{ row['Lookup_page_title'] }}</a></td>
                     <td>{{ row['URL_function'] }}
                     </td>
                  </tr>
                  {% endfor %}
               </tbody>
            </table>

         </div>
         <div id="def-preFooter">
            <!-- Write closure fall-back static file -->
            <!-- /ROOT/app/cls/WET/gcweb/v4_0_28/cdts/static/preFooter-en.html -->
         </div>
         <!-- Write closure template -->
         <script>
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
                "dateModified": "2020-09-24"
            });
         </script>
      </main>
      <div id="def-footer">
         <!-- Write closure fall-back static file -->
         <!-- /ROOT/app/cls/WET/gcweb/v4_0_28/cdts/static/appFooter-en.html -->
      </div>
      <!-- Write closure template -->
      <script>
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.appFooter({
           "showFeatures": false
         });
      </script>
      <!-- Write closure template -->
      <script>
         document.write(wet.builder.refFooter({
           "isApplication": true
         }));
      </script>
   </body>
</html>
