<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Feedback by page</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name=”robots” content=”noindex, follow”>
    <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
    <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js"></script>
    <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <!-- Write closure template -->
    <script type="text/javascript">
        document.write(wet.builder.refTop({}));
    </script>
</head>

<body vocab="http://schema.org/" typeof="WebPage">
    <div id="def-top"></div>
    <script type="text/javascript">
        var defTop = document.getElementById("def-top");
        defTop.outerHTML = wet.builder.top({
            lngLinks: [{
                lang: "fr",
                href: "#",
                text: "Français"
            }],
            breadcrumbs: [{
                title: "Canada.ca",
                href: "https://www.canada.ca/en.html"
            }],
            search: true,
            siteMenu: true,
            showPreContent: true
        });
    </script>
    <main property="mainContentOfPage" class="container" id="content">
        <h1>Feedback data - Données de rétroaction</h1>
        <p>There's no data for the URL and/or the date range you selected. </p>
        <p>Il n'y a pas de données pour l'URL et/ou les dates que vous avez sélectionnées.</p>
    </main>
</body>

</html>