<!DOCTYPE html>
<html>
  <head>
    <title>Rétroaction par page</title>

<style>
      table,
      th,
      td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>

  </head>
  <body>

<h1>Rétroaction pour {{ page }}</h1>
<h2>Rétroaction de <strong>{{ start_date }}</strong> à <strong>{{ end_date }}</strong></h2>
<p>Changer la période :</p>
<form id="attributes" name="attributes" action="{{ url_for('bypage') }}" method="post">
<input type="hidden" name="lang" value={{ lang }}>
<input type="hidden" name="page" value={{ page }}>
<label for="start_date">Date de début :</label>
<input type="date" id="start_date" name="start_date">
<label for="end_date">Date de fin :</label>
<input type="date" id="end_date" name="end_date">
<input type="submit">
</form>

<script>
    const form = window.document.getElementById("attributes");
    form.addEventListener('submit', submitRedirect);
    function submitRedirect(event) {
        event.preventDefault();
        var formData = new FormData(form);
        var queryString = "?";
        for (var key of formData.keys()) {
	    	queryString = queryString + key+"="+formData.get(key)+"&";
	    }
        location.href = 'bypage'+queryString;
    }
    </script>

<h2>Trouvé ce qu'ils cherchaient?</h2>
<p>Oui : {{ yes }}</p>
<p>Non : {{ no }}</p>
<p>Moyenne pour la période : <strong>{{ score }}%</strong></p>
<h3>À travers le temps</h3>
<img src="data:image/png;base64, {{ plot_url }}">

<h2>Mots les plus fréquents dans la rétroaction</h2>
<p>{{ most_common }}</p>

<h2>Rétroaction par raison</h2>
<table>
    <tr>
        {% for col in reason_column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
        {% for row in row_data_reason %}
    <tr>
      {% for col, row_ in zip(reason_column_names, row) %}
      <td>{{row_}}</td>
      {% endfor %}
      </tr>
      {% endfor %}
</table>

<h2>Rétroaction par étiquette</h2>
<table>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
        {% for row in row_data %}
    <tr>
      {% for col, row_ in zip(column_names, row) %}
      <td>{{row_}}</td>
      {% endfor %}
      </tr>
      {% endfor %}
</table>

</body>
</html>
