<!DOCTYPE html>
<html>
  <head>
    <title>Feedbak by page</title>

<style>
      table,
      th,
      td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>

  </head>
  <body>

<h1>Feedback data by page</h1>


<h2>{{ page }}</h2>

<h2>Percentage who found their answer</h2>
<p>Over the period: {{ score }} %</p>
<img src="data:image/png;base64, {{ plot_url }}">

<h2>Most frequent words in feedback</h2>
<p>{{ most_common }}</p>

<h2>Feedback by reason</h2>
<table>
    <tr>
        {% for col in reason_column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
        {% for row in row_data_reason %}
    <tr>
      {% for col, row_ in zip(reason_column_names, row) %}
      <td>{{row_}}</td>
      {% endfor %}
      </tr>
      {% endfor %}
</table>

<h2>Feedback by tag</h2>
<table>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
        {% for row in row_data %}
    <tr>
      {% for col, row_ in zip(column_names, row) %}
      <td>{{row_}}</td>
      {% endfor %}
      </tr>
      {% endfor %}
</table>

</body>
</html>
